.header {
    color: #1f8043;
    font-size: 30px;
    text-align: center;
    background: #ffffff;
    margin-top: -70px;
    margin-bottom: -50px;
    width: 100%;
    height: 220px;
}
/* Tämä toinen css on isolta osin sama kuin ensimmäinenkin - halusin kuitenkin tehdä sisältösivuille omansa koska niiden lay out on keskenään
samanlainen kun taas etusivun sommittelu ja sisältö varsin erilainen. Joten kuvittelin tällaisen kahden tyylin ratkaisun selkeyttävän hommaa. */
body {    
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Variable Display Light";
    margin: none;
    background-color: #e2f0d9;
    margin-bottom: -60px;
 }

 h1 {
    font-family: "Segoe UI Variable Display Light";
    color: #1f8043;
    font-size: 60px;
    text-align: center;
    padding: 80px;
 }

h2 {
    font-size: 35px;
    text-align: center;
    padding: none;
    position: relative;
    top: 25px;
}

h3 {
    font-size: 30px;
}
/* Esim näillä sisältösivuilla olen hyödyntänyt useampia otsikkoasetuksia */
h4 {
    font-size: 22px;
}

p {
    font-size: 20px;
}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 10px;
}
/* Ja näillä pyrin tosiaan saamaan tekstit sommiteltua vierekkäin sivuille, mikä olisi myös osaltaan ilmeisesti/luultavasti helpottanut responsiivisuuden toteuttamista */
.article {
    width: 50%;
}
/* Tein kenties turhaan kaksi eri classia tässä kohti? */
 .article2 {
    width: 50%;
 }

 .article-lisatieto {
    padding: 40px;
    width: 50%;
    text-align: center;
}

 .article2-lisatieto {
    padding: 40px;
    width: 50%;
    text-align: center;
 }
/* Loput taitaakin olla taas samaa kuin ensimmäisessä stylessä */
 .flex-container {
    display: flex;
    justify-content: center;
    font-size: 36px;
    width: 100%;
    margin-top: 10px;
    height: 100%;
  }

  a:visited.etusivu {
    color: #1f8043;
  }

  a:link{
    color:black;
    text-decoration: none;
    padding: 25px;
  }
  a:visited {
    color:black;
    text-decoration: none;
    padding: 25px;
  }
  a:hover, a:active {
    color:black;
    font-weight: bold;
    padding: 25px;
  }
