/* Ensimmäinen osio on sivun otsikon asetuksia */
.header {
    color: #1f8043;
    font-size: 30px;
    text-align: center;
    background: #ffffff;
    margin-top: -70px;
    margin-bottom: -50px;
    width: 100%;
    height: 220px;
}
/* Tässä määritän lähinnä fontin muulle sisällölle sekä sivun värit */
body {    
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Variable Display Light";
    margin: none;
    background-color: #e2f0d9;
 }
 /*Ensimmäisen otsikon asetuksia*/
 h1 {
    font-family: "Segoe UI Variable Display Light";
    color: #1f8043;
    font-size: 60px;
    text-align: center;
    padding: 80px;
}
/* Kuvan asetuksia, jotta sain tekstin ja kuvan vierekkäin sekä aseteltua kuvan webbiversiossa kuten olin suunnitellut*/
img {
    float: left;
    max-width:350px;
    margin-left: 270px;
    margin-top: -20px;
}
/* Tekstirivien sommittelu haluamalleni kohdalle webbiversiossa */
.article {
  font-size: 28px;
  padding: 60px;
  margin-top: 20px;
  margin-left: 630px;
  margin-bottom: -60px;
}
/* Tällä sain navigointinapit asettumaan vierekkäin haluamallani tavalla */
.flex-container {
  display: flex;
  justify-content: center;
  font-size: 36px;
  width: 100%;
  margin-top: -50px;
  height: 100%;
}
/* Jossain kohti otsikko ei enää totellutkaan headerissä asettaamani väriä ja korjasin sen tällä. En ymmärrä, mutta toimii */
a:visited.etusivu {
  color: #1f8043;
}
/*Näillä asetuksilla sain navi-napit toimimaan haluamallani tavalla, kun hiiren vie napin (=linkin) päälle */
  a:link{
    color:black;
    text-decoration: none;
    padding: 25px;
  }
  a:visited {
    color:black;
    text-decoration: none;
    padding: 25px;
  }
  a:hover {
    color:black;
    font-weight: bold;
    padding: 25px;
  }
/* Halusin erottaa e-mail linkin muusta tekstistä, ja se onnistui tällä ns. näkymättömällä viivalla */
hr {
    display: none;
}
