body {    
    font-family: "Segoe UI Variable Display Light";
    margin-left: 20px;
    background-color: #e2f0d9;
 }
 h1 {
    font-family: "Segoe UI Variable Display Light";
    color: #1f8043;
    font-size: 60px;
}
img {
    float: left;
    max-width:400px;
    margin-left: 270px;
    margin-top: -40px;
}
.header {
  padding: 20px;
    color: #1f8043;
    font-size: 30px;
    text-align: center;
    background: #ffffff;
    margin-left: -20px;
    margin-right: -8px;
    margin-top: -15px;
    margin-bottom: -15px;
    width: 100%;
}

.article {
  font-size: 28px;
  padding: 90px;
  margin-top: 35px;
  margin-left: 630px;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding: 30px;
  width: 100%;
}

  a:link{
    color:black;
    text-decoration: none;
    padding: 30px;
  }
  a:visited {
    color:black;
    text-decoration: none;
    padding: 30px;
  }
  a:hover {
    color:black;
    font-weight: bold;
    padding: 30px;
  }

  hr {
    display: none;
  }