body {    
    font-family: "Segoe UI Variable Display Light";
    margin-left: 20px;
    background-color: #e2f0d9;
 }
 h1 {
    font-family: "Segoe UI Variable Display Light";
    color: #644f00;
    font-size: 60px;
}
img {
    float: left;
    max-width:400px;
    width:100%;
    margin-left: 270px;
}
.header {
  padding: 20px;
    color: #644f00;
  font-size: 30px;
    text-align: center;
    background: #ffffff;
    margin-left: -20px;
    margin-right: -8px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.article {
  font-size: 24px;
  padding: 90px;
  margin-top: 60px;
  margin-left: 630px;
}

.Buttons {
  text-align: center;
}

  a:link{
    color:black;
    text-decoration: none;
    font-size: 32px;
    padding: 10px
  }
  a:visited {
    color:black;
    text-decoration: none;
    font-size: 32px;
  }
  a:hover {
    color:black;
    font-weight: bold;
    font-size: 32px;
  }

  hr {
    display: none;
  }